# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules
.pnpm-store/
pnpm-lock.yaml

# Build
dist
dist-ssr
*.local
.vite/
stats.html

# Testing
coverage/
test-results/
playwright-report/
cypress/videos/
cypress/screenshots/
.eslintcache

# Environment
.env*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
