.tile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nigga-tile {
  background-color: #779954;
}

.white-tile {
  background-color: #e9edcc;
}

.tile .chess-piece {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 80px;
}

.tile .chess-piece:hover {
  cursor: grab;
}

.tile .chess-piece:active {
    cursor: grabbing;
}